<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%- title %></title>
  <link rel="stylesheet" href="/css/main.css" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
</head>
<body class="bg">
  <div class="overlay">
    <%- include('../partials/header.ejs') %>
    <main class="container"><%- body %></main>
    <%- include('../partials/footer.ejs') %>
  </div>
</body>
</html>
